@{
    ViewData["Title"] = "FAQs";
}
<h1>@ViewData["Title"]</h1>

<h3>1. What makes "good" packaging?</h3>
<p>What's determined as "good" packaging can change depending on the company and the product being shipped. <b> Generally, 
    good packaging utilizes recyclable materials when it can and allows for you, the consumer, to recieve your item safely using
    as little packaging material as possible.</b> For example, if you were to order a sweatshirt from Amazon, there shouldn't be 
    layers upon layers of unrecyclable packaging material included for you to recieve your sweatshirt safely.</p>

<h3>2. What packaging materials make for good packaging?</h3>
<p>Be on the look out for biodegradable or recyclable materials! Cardboard, honeycomb packing paper, Kraft paper mailers, and gummed 
    paper tape are all great products to stay on the look out for when it comes to packaging. Bubble wrap, while great at keeping fragile 
    items safe in the shipping process, are not always recyclable depending on the country and its laws. Crinkle and tissue paper are great 
    alternatives to bubble wrap. Instead of using traditional packing peanuts, try corn startch-based packing peanuts. Not only are 
    they just as effective as their less environmentally friendly counterpart, but they're edible.</p>

<h3>3. Why should I be concerned about good packaging practices?</h3>
<p><b>At least 14 million tons of plastic waste enter the ocean every year. In additon to that, nealy 80% of plastics end up in a landfill
    in which they will remain in the ground forever in one form or another.</b> That's a lot! Individual efforts, while noble, are not enough to
    reduce our waste and better product Earth's environment. <b>In 2018, 40% of the world's plastics were produced for the sake of packaging, which
    are single use pastics that are discarded immediately after a consumer recieved their shipment.</b> Being conscious of the packaging practicies
    a company uses and holding them accountable could make a huge dent in decreasing single use plastics and the amount of plastic produced
    for packaging in general.</p>

<h3>4. How do I provide an accurate rating?</h3>
<p>Great quesiton! Firstly, try to give an honest review of your experiences. Secondly, refer to FAQ number 2 when judging the environmentally
    friendly quality of the packaging you recieved? Does it consist of cardboard and crinkle paper? Great! That company seems to leave behind a 
    small foot print for the product you recieved. Did you recieve a huge box full of traditional packing peanuts for a smaller item? This is
    something that may be worth mentioning in your review. Be sure to indicate what materials the packaging consisted of and the volume of said
    materials. Be fair in your reviews.</p>