@model IEnumerable<SustainabotMVC.Models.Review>

@{
    double avg = 0.0;
    int count = 0;
    foreach(var item in Model) {
        avg += item.Rating;
        count++;
    }

    if (count > 0) {
        avg = avg / count;
    }

    double rating = Math.Round(avg, 2);
}

<div class="row">
    <h1>@ViewData["Title"] - Rating: @rating/5</h1>
</div>

<div class="flex-container">

        @foreach(var item in Model) 
        {
        <div class="mb-3" style="width:45%; float:left; margin-left:2%; margin-right:2%">
            <div class="card border-primary">
                <div class="card-header">@item.Rating / 5</div>
                <div class="card-body">
                    <h4 class="card-title">Product: @item.Product</h4>
                    <p class="card-text">@item.Summary</p>
                </div>
            </div>
        </div>
        }

</div>

